<!DOCTYPE html>
<html>
  <head>
    <title>TravelbookRubyOnRailsTestTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <nav class='navbar'>
        <a class='navbar-brand' href='/'>Home</a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
